<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>

<body>
    <h2>Please fill in the form for appointment</h2>
    <fieldset>
        <form action="/" method="post">
            {{form.csrf_token}}

            <p>
                {{form.name.label}}
                {{form.name(size=32)}}
            </p>
            <p>
                {{form.start_date.label}}
                {{form.start_date()}}
            </p>
            <p>
                {{form.start_time.label}}
                {{form.start_time()}}
            </p>
            <p>
                {{form.end_date.label}}
                {{form.end_date()}}
            </p>

            <p>
                {{form.end_time.label}}
                {{form.end_time()}}
            </p>

            <p>
                {{form.description.label}}
                {{form.description(size=270)}}
            </p>
            <p>
                {{form.private.label}}
                {{form.private()}}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
    </fieldset>
    <h2>
        Appointments
    </h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows%}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2].strftime("%H:%M")}}</td>
                <td>{{row[3].strftime("%H:%M")}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
